.lavender {
    background-color: lavender;
}

.light-grey {
    background-color: lightgrey;
}

.light-green {
    background-color: lightgreen;
}

.light-pink {
    background-color: lightpink;
}

.ivory {
    background-color: #F1ECD0;
}

/* 
.light-blue {
    background-color: light;
} */

.white {
    color: #fff;
}