*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

html {
    font-family: "Anta", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Utility Classes--------------------------------------------------- */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.click {
    background-color: #000;
    border-radius: 0.6em;
    margin: 0 1em;
}

.btn {
    font-size: 1.6rem;
    width: 100%;
    padding: 0.6em 1.5em;
    font-family: "Anta", sans-serif;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 0.6em;
    transform: translateX(-0.2em) translateY(-0.18em);
    transition-duration: 0.12s
}

.click:hover .btn {
    cursor: pointer;
    transform: translateX(0) translateY(0);
}

.btn2 {
    width: 10em;
    height: 3em;
    border: 2px solid #000;
    border-radius: 1em;
}

.center-container {
    width: 80%;
    margin: auto;
}

.display-none {
    display: none;
}

/* Header--------------------------------------------------- */

.header-container {
    height: 100vh;
}


/* Header--------------------------------------------------- */

.navbar {
    border-bottom: 2px solid #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
}

.navbar-items {
    height: 10vh;
    padding: 0 3em;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items .items {
    display: flex;
}

.navbar-items .left-navbar .logo {
    width: 10em;
    height: 50px;
    background-image: url("../IMAGES/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar-items .left-navbar .menu-items {
    display: flex;
}

.navbar-items .left-navbar li {
    margin: auto 1em;
}

.navbar-items .left-navbar .menu-items li a {
    padding: 0.5em 1em;
    border: 2px solid #fff;
}

.navbar-items .left-navbar .menu-items li a:hover {
    border: 2px solid #000;
    border-radius: 0.6em;
}

.h18e {
    visibility: hidden;
}

/* Header >> slider--------------------------------------------------- */

.slider-container {
    /* height: 90vh; */
    /* background-color: #B4F8C8; */
    padding-top: 20vh;
}

.slider-container .slider-container-background {
    margin-inline: auto;
    height: 60vh;
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.slider-container .slider {
    /* transform: translateX(-1em) translateY(-1em); */
    /* background-color: lightcoral; */
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 2em;
    /* justify-content: space-between; */
    position: absolute;
}

.slider-1 {
    /* background-color: #FFAEBC; */
    background-color: lightskyblue;
}

.slider-2 {
    background-color: #A0E7E5;
}

.slider-3 {
    background-color: #3f3851;
}

.slider-4 {
    /* background-color: #FFAEBC; */
    background-color: #E8B4B8;
    /* background-color: rgb(233, 123, 123); */
}

.slider-5 {
    background-color: lavender;
}

.active-slider {
    z-index: 1;
    visibility: visible;
    transform: translate(-1em, -1em);
    /* transition-timing-function: ease-in-out; */
    transition-duration: 2s;
}

.slider-container .slider .game-banner {
    width: 60%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-container .slider {
    display: flex;
}

.slider-container .slider .game-info {
    width: 40%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-container .slider .game-info .game-title {
    font-size: 5rem;
}

.slider-container .slider .game-info .creater {
    margin-block: 0.5em;
    font-size: 1.5rem;
}

.slider-container .slider .game-info .stars {
    display: flex;
}

.slider-container .slider .game-info .stars img {
    width: 20px;
}

.slider-container .slider .game-info .banner-play-box {
    width: 20%;
    margin-block: 3rem;
}

.slider-container .slider .game-info .banner-play-box .banner-play-button {
    font-size: 1.6rem;
    width: 100%;
    padding: 0.6em 1.5em;
    font-family: "Anta", sans-serif;
    border: 2px solid #000;
    border-radius: 20px;
    cursor: pointer;
}

/* Header >> Slider-bars--------------------------------------------------- */

.slider-container .slider-bars {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.slider-container .slider-bars .slide-bar {
    display: flex;
    margin: auto 1em;
    width: 6em;
    height: 1.2em;
    border: 2px solid #000;
    border-radius: 0.6em;
    cursor: pointer;
    overflow: hidden;
}

.slider-container .slider-bars .slide-bar i {
    display: inline-block;
    width: 100%;
    height: 100%;
}

._100_bydefault {
    transform: translateX(-100%);
}

._100 {
    background-color: #000;
    transform: translateX(0);
    transition: transform 6s linear 0s;
}